### Sequence 자료형

>1. 리스트
>2. 튜플
>3. 문자열
>4. 레인지

In [3]:
colors = ['red','green','blue',0xfffff] #16진수 1~10, abcdef

In [4]:
colors

['red', 'green', 'blue', 1048575]

In [12]:
colors[0], colors[-4]

('red', 'red')

In [13]:
colors[2], colors[-2]

('blue', 'blue')

#### - 슬라이싱

In [17]:
cities = ['서울', '부산','인천','대구','대전','광주',' 울산',' 세종']

In [21]:
cities[0:3]

['서울', '부산', '인천']

In [25]:
cities[7:5:-1]

[' 세종', ' 울산']

In [29]:
dir(cities)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [31]:
colors = ['red', 'green', 'blue']

In [32]:
colors.insert(0, 'orange')

In [33]:
colors

['orange', 'red', 'green', 'blue']

In [34]:
colors.remove('red')

In [38]:
colors

['orange', 'green']

In [46]:
t= [1, 2, 3]
a, b, c = t
m, n, _ = t

In [47]:
print(a)
print(b)
print(c)
print(m)
print(n)

1
2
3
1
2

In [54]:
string = input('실수 세개를 빈칸으로 구분하여 입력하시오')
string

'10 2.3 4.5'

In [55]:
list(range(10,1,-2))

[10, 8, 6, 4, 2]

In [75]:
x, y = map(int, input('두개의 정수 입력하세요').split())
x, y

(5, 10)

In [76]:
print(list(range(x,y+1)))

[5, 6, 7, 8, 9, 10]