Q1. 연도를 입력으로 받아 윤년인지 아닌지를 출력하는 프로그램을 작성하시오.윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.예를들어, 2012년은 4의 배수라서 윤년이지만, 1900년은 4의 배수이지만, 100의 배수이기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.)

In [10]:
year = int(input('연도를 입력하시오'))
if year % 4 != 0: print('윤년이 아닙니다')
elif year % 400 == 0: print('윤년입니다')
elif year % 100 == 0: print('윤년이 아닙니다')
else: print('윤년입니다')

윤년입니다

Q2. 
본인의 생일을 1998 12 15 과 같이 년 월 일로 입력받아오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오.

In [21]:
bd = input('본인의 생일을 입력하시오 ex) 1994 08 02').split()
bd_year, bd_month, bd_date = map(int,bd)
from datetime import date
td = date.today()
if (td.month*100 + td.day >= bd_month*100 +bd_date): #생일이 지났을 때
    age = td.year - bd_year
else:    #생일이 지나지 않았을 떄
    age = td.year - bd_year - 1
print(f'만 나이는 {age}입니다')

만 나이는 26입니다

Q3. 세 자연수 a, b, c 가 피타고라스 정리 a2 + b2 = c2 를 만족하면 피타고라스 수라고 부른다. (여기서 a < b < c 이고 a + b > c)예를 들면, 32 + 42 = 9 + 16 = 25 = 52 이므로 3, 4, 5는 피타고라스 수입니다.   a + b + c = 1000 인 피타고라스 수를 구하시오. (답은 한가지 뿐이다.)

In [35]:
for a in range(1,1000):
    for b in range(1,1000):
       c = 1000 - (a + b)
       if 1<=a<=1000 and 1<=b<=1000 and 1<=c<=1000 and 1<=a<b<c:
           if a**2 + b**2 == c**2:
               print(f'a+b+c=100을 만족하는 피타고라수는 ({a},{b},{c})입니다')

a+b+c=100을 만족하는 피타고라수는 (200,375,425)입니다

Q4. (별 그리기)
5이상 9이하의 홀수를 입력받아 다이아몬드 형태의 별을 출력하는 프로그램을 작성하시오.

In [52]:
N = int(input('줄의 개수(5부터 9사이 홀수)'))
for i in range((N+1)//2 + 1):
    nums = 2*i -1
    numb = (N-nums)//2
    for k in range(numb):
        print(' ', end='')
    for k in range(nums):
        print('+',end='')
    for k in range(numb):
        print(' ',end='')
    print()            
for i in range(1,(N+1)//2):
    numb = i
    nums = N-numb*2
    for k in range(numb):
        print(' ', end='')
    for k in range(nums):
        print('+',end='')
    for k in range(numb):
        print(' ',end='')
    print()

    +
   +++
  +++++
 +++++++
+++++++++
 +++++++
  +++++
   +++
    +

In [ ]:
Q5. 디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요?- 디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시됨.		00:00 (60초간 표시)		00:01 		…		23:59

In [55]:
sum = 0
for t in range (0,24):
    for m in range(0,60):
        if t//10 == 3 or t%10 ==3 or m//10 == 3 or m%10 == 3:
            sum += 60
print(f'{sum}초 동안 표시됩니다')

29700초 동안 표시됩니다

Q6. 1~1000에서 각 숫자의 개수를 구하시오.- 예로 10 ~ 15 까지의 각 숫자의 개수를 구해보자.		10 = 1, 0		11 = 1, 1		12 = 1, 2		13 = 1, 3		14 = 1, 4		15 = 1, 5그러므로 이 경우의 답은 0:1개, 1:7개, 2:1개, 3:1개, 4:1개, 5:1개

In [67]:
lst = [0,0,0,0,0,0,0,0,0,0]
for i in range(1, 1001):
    stri = str(i)
    for j in stri:
        lst[int(j)] +=1
print(f'0:{lst[0]}개, 1:{lst[1]}개, 2:{lst[2]}개, 3:{lst[3]}개, 4:{lst[4]}개, 5:{lst[5]}개, 6:{lst[6]}개, 7:{lst[7]}개, 8:{lst[8]}개, 9:{lst[9]}개')

0:192개, 1:301개, 2:300개, 3:300개, 4:300개, 5:300개, 6:300개, 7:300개, 8:300개, 9:300개

Q7. 자기 자신을 제외한 모든 양의 약수들의 합이 자기 자신이 되는 자연수를 완전수라고 한다.예를 들면, 6과 28은 완전수이다.		6=1+2+3         # 1,2,3은 각각 6의 약수 		28=1+2+4+7+14   # 1,2,4,7,14는 각각 28의 약수.입력으로 자연수 N을 받고, 출력으로 N 이하의 모든 완전수를 출력하는 코드를 작성하시오.

In [116]:
for n in range(1,10001):
    lst=[]
    for i in range(1,n+1):
        if n%i == 0:
            lst.append(i) #약수의 리스트
    sum = 0
    for i in lst:
        sum += i
    if sum - n == n:
        print(n)

6
28
496
8128

In [102]:
lst=[]
for i in range(1,3+1):
    if n%i == 0:
        lst.append(i) #약수의 리스트
        print(lst)

[1]
[1, 3]

Q8. 1부터 10까지 자연수를 각각 제곱해 더하면 다음과 같다 (제곱의 합). 		12 + 22 + ... + 102 = 385 1부터 10을 먼저 더한 다음에 그 결과를 제곱하면 다음과 같습니다 (합의 제곱).		(1 + 2 + ... + 10)2 = 552 = 3025 따라서 1부터 10까지 자연수에 대해 "합의 제곱"과 "제곱의 합"의 차이는 3025 - 385 = 2640 이 된다.입력으로 자연수 N을 받아, 1부터 N까지 자연수에 대해 "합의 제곱"과 "제곱의 합"의 차이는 얼마인가?

In [94]:
N = int(input('자연수를 입력하시오'))
sumofsquare = 0
for i in range(1,N+1):
    sumofsquare += i**2
sum = 0
for i in range(1, N+1):
    sum += i
squareofsum = sum**2  
diff = squareofsum-sumofsquare
print(diff)

25164150